{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
       <!-- css -->
      <link rel="stylesheet" href="{% static  './CSS/testimonial.css'%}">
      <link rel="stylesheet" href="{% static  './CSS/choose.css'%}">

      <!-- boxicons Css -->
     <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
     <link rel="stylesheet" href="{% static  './CSS/style.css'%}" />
     <link rel="stylesheet" href="{% static  './CSS/newSpot.css'%}" />
     <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
     <!-- Link Swiper's CSS -->
     <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />



     <!-- Demo styles -->

    <link rel="stylesheet" href="{% static  './CSS/style.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
  


</head>
  <body>
    <!-- header -->
<div class="home1" id="home">
      <div class="nav-wrapper">
        <div class="navbar">
          <img src="{% static  './Images/logo.svg'%}" alt="" />
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="{% url 'features'%}">Features</a></li>
            <li><a href="#Bookings">Bookings</a></li>
            <li><a href="{% url 'whytochoose'%}">Why choose us?</a></li>
          </ul>

          <div class="nav-btn">
            <a href="{% url 'login'%}"> <button class="login">Login <i class="fa-solid fa-arrow-right-to-bracket" ></i>  </button></a>
            <a href="{% url 'signup'%}"> <button class="Signup">Sign up <i class="fa-regular fa-pen-to-square"></i></button></a>
          </div>
        </div>
      </div>
      <!-- header-end -->
    

<div class="container">


        {% block body %}
        {% endblock body %}

      </div>
      <!-- footer -->
   <footer>
    <div class="footer-content">
        <div class="row">
            <div class="footer-col">
              <img src="{% static  './Images/logo.svg'%}">
                <p>We are dedicated to make
cities more livable and reducing
environmental footprint 
associated with parking.</p>
            </div> 
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="main.html">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#spot">Find spot</a></li>
                    <li><a href="features.html">Features</a></li>
                    <li><a href="">Bookings.html</a></li>
                    <li><a href="">Testimonial</a></li>
                </ul>
            </div> 
            <div class="footer-col">
                <h4>Support</h4>
                <ul>
                    <li><a href="">Help center</a></li>
                    <li><a href="">Terms of service</a></li>
                    <li><a href="">Legal</a></li>
                     <li><a href="">Privacy policy</a></li>
                      <li><a href="">Status</a></li>
                       <li><a href="">Contact us</a></li>
                    
                </ul>-
            </div> 
            <div class="footer-col">
                <h4>Stay up to date</h4>
                <input type="email" placeholder="Enter your email" class="inputEmail">
                <div class="icons">
                  <a href="#"><i class="bx bxl-facebook-circle" style="color: #0356f0;"></i></a>
                  <a href="#"><i class="bx bxl-instagram-alt" style="color: #0356f0;"></i></a>
                  <a href="#"><i class="bx bxl-twitter" style="color: #0356f0;"></i></a>
                  <a href="#"><i class="bx bxl-youtube"style="color: #0356f0;"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
                <p>Copyright@2023parkXpress@ltd</p>
            <div class="social">
              <ul>
                 <li><i class="fas fa-map-marker-alt" style="color: #0356f0;"></i> Kathmandu,Nepal</li>
                <li> <i class="far fa-envelope" style="color: #0356f0;"></i>  parkXpress@gmail.com</li>
              <li>  <i class="fas fa-phone-alt" style="color: #0356f0;"></i> 923823929892</li>
              </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>


