{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  './CSS/khalti.css'%}">
</head>
<body>
    <div class="contain1">
        <form>
           <img src="{% static  'Images/Khalti-removebg-preview 1.png'%}" alt="">
            <div class="khalti-acc">
            <label for=" account"> From Account </label>
            <br />
            <input type="number"placeholder="Enter your account number" /> 
        </div>
    
        <div class="khalti-acc">
            <label for=" amount"> Amount </label>
            <br />
            <input type="number" /> 
        </div>
    <div class="main-grid1">
        <div class="grid1">
        <h1>10</h1>
        </div>
            <div class="grid1">
                <h1>50</h1>
                </div>
                <div class="grid1">
                    <h1>100</h1>
                    </div>
                    <div class="grid1">
                        <h1>200</h1>
                        </div>
                        <div class="grid1">
                            <h1>500</h1>
                            </div>
                            
    </div>    
    <div class="khalti-acc">
        <label for=" id">Receiver Mobile </label>
        <br />
        <input type="number" /> 
    </div>
    <div class="khalti-acc">
        <label for=" purpose"> Remarks </label>
        <br />
        <input type="text" /> 
    </div>                                     
        
     <div class="button3">
            <button class="proceed1">Proceed</button></a>  <br />
            <p>Cancel</p>
          </div>
          </div>
          </form>
        </div>  
</body>
</html>