{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{% static  './CSS/user.css'%}"></head>
<script src="https://kit.fontawesome.com/ef648c635d.js" crossorigin="anonymous"></script>

<body>
    <div class="sidebar">
        <div class="icons">
          <i class="fa-solid fa-bars" style="padding: 30px;"><span style="padding-left: 15px;"></span></i>
          <i class="fa-regular fa-bell"></i>

      </div>

      <div class="profile">
        <img src="{% static  './Images/sung-wang-g4DgCF90EM4-unsplash.jpg'%}" style="margin-top: 35px; padding: 5px;">
        <h4>John Smith<span style="color: #677191; font-size: 16px;">
        Indonesia, Jakarta</span>
        </h4>
        
        <i class="fa-solid fa-gear" style="margin-top: 65px; color: blue;"> </i>

    
      </div>




      <div class="menu">
        <a href="{% url 'vehiclecatagory1'%}">Vehicle Catagory</a>
        <a href="{% url 'useractivity'%}">User Activity</a>
        <a href="{% url 'revenue'%}">Revenue</a>
        <a href="support">Support</a>
      </div>
      <div class="logout">
      <i class="fa-solid fa-right-from-bracket" style="color: #FF317B;"></i>
     <h3> Logout</h3>
    </div>
    </div>

    <h2>User Activity </h2>
<div class="main">
    

 <div class="user">
  <p>Best Users</p>
    <div class="container">
     <div class="details">
      <i class="fa-solid fa-user" style="color: #D2B9B9;font-size: 40px;"></i>
      <h3> Emily Reynolds
      <span style="color: #677191; font-size: 15px;">Anamnagar</span>
     </h3> 
    <i class="fa-solid fa-ellipsis" ></i>
  </div>

 <div class="progress">  
<progress id="file" value="62" max="100" > 62% </progress>
<label for="file">120 times</label>
</div> 
  </div>
  <div class="container">
    <div class="details">
     <i class="fa-solid fa-user" style="color: #D2B9B9;font-size: 40px;"></i>
     <h3> Emily Reynolds
     <span style="color: #677191; font-size: 15px;">Anamnagar</span>
    </h3> 
   <i class="fa-solid fa-ellipsis" ></i>
 </div>

<div class="progress">  
<progress id="file" value="62" max="100" > 62% </progress>
<label for="file">120 times</label>
</div> 
 </div>
 <div class="container">
  <div class="details">
   <i class="fa-solid fa-user" style="color: #D2B9B9;font-size: 40px;"></i>
   <h3> Emily Reynolds
   <span style="color: #677191; font-size: 15px;">Anamnagar</span>
  </h3> 
 <i class="fa-solid fa-ellipsis" ></i>
</div>

<div class="progress">  
<progress id="file" value="62" max="100" > 62% </progress>
<label for="file">120 times</label>
</div> 
</div>
<div class="container">
  <div class="details">
   <i class="fa-solid fa-user" style="color: #D2B9B9;font-size: 40px;"></i>
   <h3> Emily Reynolds
   <span style="color: #677191; font-size: 15px;">Anamnagar</span>
  </h3> 
 <i class="fa-solid fa-ellipsis" ></i>
</div>

<div class="progress">  
<progress id="file" value="62" max="100" > 62% </progress>
<label for="file">120 times</label>
</div> 
</div>
    </div>


    <div class="article">
    <h3>Today's vehicle</h3>
    <div class="box">
      
      <div class="today">
      <i class="fa-solid fa-circle-user" style="color: #85B6FF; font-size: 50px; "></i>
      <h4>Riya Bhatt<span style="color: #677191; font-size: 15px;">
        Anamnagar</span>
        </h4>
    </div>
     
    <div class="today">
      <i class="fa-solid fa-circle-user" style="color: #85B6FF; font-size: 50px; "></i>
      <h4>Riya Bhatt<span style="color: #677191; font-size: 15px;">
        Anamnagar</span>
        </h4>
    </div>
    <div class="today">
      <i class="fa-solid fa-circle-user" style="color: #85B6FF; font-size: 50px; "></i>
      <h4>Riya Bhatt<span style="color: #677191; font-size: 15px;">
        Anamnagar</span>
        </h4>
    </div>
    <div class="today">
      <i class="fa-solid fa-circle-user" style="color: #85B6FF; font-size: 50px; "></i>
      <h4>Riya Bhatt<span style="color: #677191; font-size: 15px;">
        Anamnagar</span>
        </h4>
    </div>
    <div class="today">
      <i class="fa-solid fa-circle-user" style="color: #85B6FF; font-size: 50px; "></i>
      <h4>Riya Bhatt<span style="color: #677191; font-size: 15px;">
        Anamnagar</span>
        </h4>
    </div>
    <div class="today">
      <i class="fa-solid fa-circle-user" style="color: #85B6FF; font-size: 50px; "></i>
      <h4 >Riya Bhatt<span style="color: #677191; font-size: 15px;">
        Anamnagar</span>
        </h4>
    </div>
    <div class="today">
      <i class="fa-solid fa-circle-user" style="color: #85B6FF; font-size: 50px; "></i>
      <h4>Riya Bhatt<span style="color: #677191; font-size: 15px;">
        Anamnagar</span>
        </h4>



    </div>
  </div>

    <div class="search">

      
      <input type="text" placeholder="Search Vehicle" /><i class="fa-solid fa-magnifying-glass" style="color: #948D8D;"></i>
  </div>
    </div>


      
</div>
  <div class="users">
  <h3>Total Users</h3>
  

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
      datasets: [{
        label: 'Number of Users (in hundreds)',
        data: [120, 190, 30, 50, 20, 30,50,170,180,20,120,140 ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</div> 
</body>
</html>